FB_PIXEL_TOKEN=''
FB_DATASET_ID=''

BACK_PORT='3000'

TYPEORM_HOST=''
TYPEORM_PORT='5432'
TYPEORM_USERNAME='postgres'
TYPEORM_PASSWORD='postgres'
TYPEORM_DATABASE='back_db'
TYPEORM_RETRY_ATTEMPTS=3

JWT_ACCESS_KEY='$2b$10$u.2Af/kpkBN7P.awcTqyMe/M2tzzxv/mh8pTJqLjGRhDtMwOIT2na'
JWT_REFRESH_KEY='$2b$10$x5I4BTKaJsfeVOhHCFCESu5wkcqWTiMQD9SaOimtZzGoCpv9fmV2q'
JWT_ACCESS_TTL=30s
JWT_REFRESH_TTL=1m
JWT_ISSUER='unionistashop'